.card {
    border: 1px solid hsl(180, 29%, 50%);
    /* border-left: 4px solid gray; */
    display: flex;
    align-items: center;
    margin: 40px 0;
    padding: 24px;
    box-shadow: 4px 8px 20px rgba(230, 221, 221, 0.8);
    border-radius: 4px;
}

.logo img {
    width: 72px;
    height: auto;
}

.jobDetailsSec {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-left: 20px;
}

.postingDetails {
    display: flex;
    align-items: center;
    gap: 8px;
    color: hsl(180, 29%, 50%);
}

.newJob,
.featured {
    padding: 4px 8px;
    border-radius: 16px;
    color: hsl(180, 31%, 95%);
}

.newJob {
    background-color: hsl(180, 29%, 50%);
}

.featured {
    background-color: hsl(180, 14%, 20%);
}

.position {
    font-weight: 700;
    color: hsl(180, 14%, 20%);
}

.position:hover {
    color: hsl(180, 29%, 50%);
    cursor: pointer;
}

.type {
    color: hsl(180, 8%, 52%);
}


.skills {
    display: flex;
}

.skill {
    margin: 4px;
    padding: 6px;
    border-radius: 4px;
    color: hsl(180, 29%, 50%);
    background-color: hsl(180, 31%, 95%);
}

.skill:hover {
    color: hsl(180, 31%, 95%);
    background-color: hsl(180, 29%, 50%);
    cursor: pointer;
}

@media only screen and (max-width: 375px) {
    .card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 70px 0px;
    }

    .logo img {
        width: 64px;
        height: auto;
        margin-top: -60px;
        margin-bottom: 12px;
    }

    .jobDetailsSec {
        margin-left: 0px;
    }

    .skills {
        flex-wrap: wrap;
    }
}